In [22]:
print('='*5,'LATIHAN','='*5)

nama = 'Darmawan'
usia = 18
status = False
hobi = 'main game'
sekolah = 'SMK YASTI'

print ('nama:',nama)
print ('usia:',usia)
print ('Sudah menikah:',status)
print ('hobi:',hobi)
print ('Asal sekolah:',sekolah)

print('='*5,'TERIMAKASIH','='*5)

===== LATIHAN =====
nama: Darmawan
usia: 18
Sudah menikah: False
hobi: main game
Asal sekolah: SMK YASTI
===== TERIMAKASIH =====

In [20]:
a,b,c=1,2,'mantap'

print ('a=',a)
print ('b=',b)
print ('c=',c)

a= 1
b= 2
c= mantap

In [21]:
a=b=c=10

print ('a=',a)
print ('b=',b)
print ('c=',c)

a= 10
b= 10
c= 10

In [25]:
kota = 'Sukabumi'
luas = 600
print (type(luas))
print (type(kota))

<class 'int'>
<class 'str'>

In [27]:
lebar=5
panjang=10.5
luas = lebar*panjang

print (panjang,'*',lebar,'=',luas)
print ('type data lebar',type(lebar))
print ('type data panjang',type(panjang))
print ('type data luas',type(luas))

10.5 * 5 = 52.5
type data lebar <class 'int'>
type data panjang <class 'float'>
type data luas <class 'float'>

In [28]:
a=5j
b=10j
c=a+b

print (a,'+',b,'=',c)
print ('type data a', type(a))
print ('type data b', type(b))
print ('type data c', type(c))

5j + 10j = 15j
type data a <class 'complex'>
type data b <class 'complex'>
type data c <class 'complex'>

In [46]:
print ('luas segitiga')

alas = 10
tinggi = 5
luas = alas*tinggi/2

print ('luas segitiga adalah %0.1f' %luas)

luas segitiga
luas segitiga adalah 25.0

In [40]:
tahun_lahir=2004
tahun_sekarang=2022
umur=tahun_sekarang-tahun_lahir

print (tahun_sekarang,'-',tahun_lahir,'=',umur)

2022 - 2004 = 18

In [60]:
#bealajar tipe data string#
nama_depan = 'darmawan'
nama_belakang = 'prajadiputra'
nama_lengkap = nama_depan + ' ' +nama_belakang
usia = '18'
alamat = 'wardoyong'
kata_mutiara = 'gak ada'

print (nama_lengkap,'('+usia+')',',','dari',alamat,', kata mutiara:',kata_mutiara)
print ('tipe data dari nama depan',type(nama_depan))
print ('tipe data dari nama belakang',type(nama_belakang))
print ('tipe data dari nama lengkap',type(nama_lengkap))
print ('tipe data dari nama lengkap',type(nama_lengkap))

darmawan prajadiputra (18) , dari wardoyong , kata mutiara: gak ada
tipe data dari nama depan <class 'str'>
tipe data dari nama belakang <class 'str'>
tipe data dari nama lengkap <class 'str'>

In [59]:
print ('saya'*3)
print ('saya'+'saya')

sayasayasaya

In [74]:

print ('''
saya
saya
''')

saya
saya
saya

In [77]:
saya_orang_Indonesia = True
saya_adalah_robot = False

print ('Apaka saya orang Indonesia?',saya_orang_Indonesia)
print ('Apaka saya robot?',saya_adalah_robot)
print ('tipe data orang Indonesia',type(saya_orang_Indonesia))

Apaka saya orang Indonesia? True
Apaka saya robot? False
tipe data orang Indonesia <class 'bool'>

In [83]:
a=True
b=False

print ('12<10:',12<10)
print ('10>12:',10>12)
print ('A=a:','A'=='a')

12<10: False
10>12: False
A=a: False