In [22]:
print('='*5,'LATIHAN','='*5)

nama = 'Darmawan'
usia = 18
status = False
hobi = 'main game'
sekolah = 'SMK YASTI'

print ('nama:',nama)
print ('usia:',usia)
print ('Sudah menikah:',status)
print ('hobi:',hobi)
print ('Asal sekolah:',sekolah)

print('='*5,'TERIMAKASIH','='*5)

===== LATIHAN =====
nama: Darmawan
usia: 18
Sudah menikah: False
hobi: main game
Asal sekolah: SMK YASTI
===== TERIMAKASIH =====

In [20]:
a,b,c=1,2,'mantap'

print ('a=',a)
print ('b=',b)
print ('c=',c)

a= 1
b= 2
c= mantap

In [21]:
a=b=c=10

print ('a=',a)
print ('b=',b)
print ('c=',c)

a= 10
b= 10
c= 10

In [25]:
kota = 'Sukabumi'
luas = 600
print (type(luas))
print (type(kota))

<class 'int'>
<class 'str'>

In [27]:
lebar=5
panjang=10.5
luas = lebar*panjang

print (panjang,'*',lebar,'=',luas)
print ('type data lebar',type(lebar))
print ('type data panjang',type(panjang))
print ('type data luas',type(luas))

10.5 * 5 = 52.5
type data lebar <class 'int'>
type data panjang <class 'float'>
type data luas <class 'float'>

In [28]:
a=5j
b=10j
c=a+b

print (a,'+',b,'=',c)
print ('type data a', type(a))
print ('type data b', type(b))
print ('type data c', type(c))

5j + 10j = 15j
type data a <class 'complex'>
type data b <class 'complex'>
type data c <class 'complex'>