In [37]:
x < 5 and x < 10
nilai_1=True
nilai_2=False
nilai_3=True

print('nilai_1 and nilai_2 ='+ str(nilai_1 and nilai_2))
print('nilai_1 and nilai_3 ='+ str(nilai_1 and nilai_3))

nilai_1 and nilai_2 =False
nilai_1 and nilai_3 =True

In [48]:
murah=True
diskon=True

print ('Murah dan diskon maka '+str(murah and diskon))
print ('Tidak murah dan tidak diskon maka '+str(not murah and not diskon))

Murah dan diskon maka True
Tidak murah dan tidak diskon maka False

In [49]:
x,y= int (input('x =')), int(input('y ='))


print(x>y)
print(x<y)
print(x==y)
print(x!=y) 
print(x>=y)
print(x<=y)

x =8
y =8
False
False
True
False
True
True

In [54]:
a=5
b=5
list_a = [1, 2, 3]
list_b = [1, 2, 3]
nama_a = 'Budi'
nama_b = 'Budi'

print('a is b:', a is b)
print('a is not b:', a is not b)

print('list_a is list_b:', list_a is list_b)
print('list_a == list_b:', list_a == list_b)

print('nama_a is nama_b:', nama_a is nama_b)
print('nama_a is not nama_b:', nama_a is not nama_b)

a is b: True
a is not b: False
list_a is list_b: False
list_a == list_b: True
nama_a is nama_b: True
nama_a is not nama_b: False

In [56]:
bahasa1 = ['python', 'php', 'java', 'javascript']
bahasa2 = ['python', 'php', 'golang', 'java']

print (bahasa1 is bahasa2)
print (bahasa1 is not bahasa2)

False
True

In [57]:
x = 'microsoft'
list_pulau = ['jawa', 'sumatra', 'sulawesi']

print(
"apakah 'c' ada di variabel perusahaan","c" in x
)

apakah 'c' ada di variabel perusahaan True

In [58]:
nama = 'udin'
kelas = ['TI21A', 'TI22A', 'TI22C']

print ('TI22A' in kelas)

True

In [68]:
print (format(1, '08b'))
print (format(123,'08b'))
bin (255)

00000001
01111011

'0b11111111'

In [79]:
h=104
e=101
l=108
o=111

print ('h binernya adalah', format(h, '08b'))
print ('e binernya adalah', format(e, '08b'))
print ('l binernya adalah', format(l, '08b'))
print ('l binernya adalah', format(l, '08b'))
print ('o binernya adalah', format(o, '08b'))

h binernya adalah 01101000
e binernya adalah 01100101
l binernya adalah 01001100
l binernya adalah 01001100
o binernya adalah 01101111